<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austin's Blog - <%= blog.title %></title>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <div id="blog">
        <div id="toc"></div>
        <div id="content">
            <span id="extraInfo" class="inconsolata">
                <span id="date"><%= blog.date %></span>
                <span id="time">~<%= blog.readTime %> Minutes</span>
            </span>
            <div id="text">
                <h1 id="title">
                    <%- blog.titledesc %>
                </h1>
                <p><%- blog.content %></p>
            </div>
        </div>
    </div>
</body>
</html>