<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austin's Blog - <% blog.title %></title>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <div id="blog">
        <div id="toc"></div>
        <div id="content">
            <span id="extraInfo" class="inconsolata">
                <span id="date">2025.0.10&#9654;</span>
                <span id="time">~10 minutes</span>
                <!-- <% blog.date %> <% blog.readTime %> -->
            </span>
            <div id="text">hello mr :D</div>
        </div>
    </div>
</body>
</html>